

<div class="container">
    <i style="color:red">Morgan Stanley</i>
    <!-- <div>
       <span style="float:right ;padding-top: 24px">  <i class="fa fa-question-circle-o" aria-hidden="true"></i> -->
       <!-- </span> &nbsp;&nbsp;&nbsp;
       <span style="float:right;margin-right:7px;padding-top: 24px"> <i class="fa fa-undo" aria-hidden="true"></i>
       </span>  -->
  
    <!-- </div> -->
    <!-- <div> -->
      <div>
          <hr class="style-eight" />
      </div>
         
<div>
    <i style="color:red">User Cards</i>
  </div>
    <div>
        <hr class="style-eight" />
    </div>
    



         
    </div>
    <!-- </div> -->


  
   